@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style="color:mediumpurple" class="display-4"><strong>Yazılım Kütüphanesi Online</strong></h1>
    <br />
    <br />
    <p><img src="/img/kutuphanenin-tarihi.jpg"</p>
</div>
