@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
    <br />
    <br />
<h2 style="color:rebeccapurple">@ViewData["Title"]</h2>
<br />
<h3>E-Posta Adresimiz:</h3>
<h3><a href="ycanerdall@gmail.com">ycanerdall@gmail.com</a></h3>
</div>